@import "tailwindcss";

/* Mirage Font Family */
@font-face {
	font-family: "Mirage";
	src: url("/fonts/mirage/MADE Mirage Thin PERSONAL USE.otf") format("opentype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Mirage";
	src: url("/fonts/mirage/MADE Mirage Regular PERSONAL USE.otf")
		format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Mirage";
	src: url("/fonts/mirage/MADE Mirage Medium PERSONAL USE.otf")
		format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Mirage";
	src: url("/fonts/mirage/MADE Mirage Bold PERSONAL USE.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Mirage";
	src: url("/fonts/mirage/MADE Mirage Black PERSONAL USE.otf")
		format("opentype");
	font-weight: 900;
	font-style: normal;
}

/* Perfectly Nineties Font Family */
@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-Regular.otf")
		format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-RegularItalic.otf")
		format("opentype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-Semibold.otf")
		format("opentype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-SemiboldItalic.otf")
		format("opentype");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-Bold.otf")
		format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-BoldItalic.otf")
		format("opentype");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-Extrabold.otf")
		format("opentype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-ExtraboldItalic.otf")
		format("opentype");
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-Black.otf")
		format("opentype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-BlackItalic.otf")
		format("opentype");
	font-weight: 900;
	font-style: italic;
}

/* Product Sans Font Family */
@font-face {
	font-family: "Product Sans";
	src: url("/fonts/product-sans/Product Sans Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Product Sans";
	src: url("/fonts/product-sans/Product Sans Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Product Sans";
	src: url("/fonts/product-sans/Product Sans Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Product Sans";
	src: url("/fonts/product-sans/Product Sans Bold Italic.ttf")
		format("truetype");
	font-weight: 700;
	font-style: italic;
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	/* Custom Fonts */
	--font-mirage: "Mirage", sans-serif;
	--font-perfectly-nineties: "Perfectly Nineties", sans-serif;
	--font-product-sans: "Product Sans", sans-serif;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: "Product Sans", sans-serif;
}
