@import "tailwindcss";

@layer base {
	@import url("https://fonts.googleapis.com/css2?family=Amiri:ital@0;1&display=swap");
}

/* Mirage Font Family */
@font-face {
	font-family: "Mirage";
	src: url("/fonts/mirage/MADE Mirage Thin PERSONAL USE.otf") format("opentype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Mirage";
	src: url("/fonts/mirage/MADE Mirage Regular PERSONAL USE.otf")
		format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Mirage";
	src: url("/fonts/mirage/MADE Mirage Medium PERSONAL USE.otf")
		format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Mirage";
	src: url("/fonts/mirage/MADE Mirage Bold PERSONAL USE.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Mirage";
	src: url("/fonts/mirage/MADE Mirage Black PERSONAL USE.otf")
		format("opentype");
	font-weight: 900;
	font-style: normal;
}

/* Perfectly Nineties Font Family */
@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-Regular.otf")
		format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-RegularItalic.otf")
		format("opentype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-Semibold.otf")
		format("opentype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-SemiboldItalic.otf")
		format("opentype");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-Bold.otf")
		format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-BoldItalic.otf")
		format("opentype");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-Extrabold.otf")
		format("opentype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-ExtraboldItalic.otf")
		format("opentype");
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-Black.otf")
		format("opentype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-BlackItalic.otf")
		format("opentype");
	font-weight: 900;
	font-style: italic;
}

/* Product Sans Font Family */
@font-face {
	font-family: "Product Sans";
	src: url("/fonts/product-sans/Product Sans Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Product Sans";
	src: url("/fonts/product-sans/Product Sans Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Product Sans";
	src: url("/fonts/product-sans/Product Sans Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Product Sans";
	src: url("/fonts/product-sans/Product Sans Bold Italic.ttf")
		format("truetype");
	font-weight: 700;
	font-style: italic;
}

:root {
	--background: #f3f3f3;
	--foreground: #0e2345;
	--primary: #4270ed;
	--primary-muted: #67bbf7;
	--secondary: #f28a3a;
	--secondary-muted: #d9b068;
	--muted: #1f2937;
	--muted-foreground: #6b7280;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-muted: var(--primary-muted);
	--color-secondary: var(--secondary);
	--color-secondary-muted: var(--secondary-muted);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);

	/* Custom Fonts */
	--font-mirage: "Mirage", sans-serif;
	--font-perfectly-nineties: "Perfectly Nineties", sans-serif;
	--font-product-sans: "Product Sans", sans-serif;
	--font-amiri: "Amiri", serif;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: "Product Sans", sans-serif;
}

.chevron {
	position: absolute;
	width: 40px;
	height: 8px;
	opacity: 0;
	transform: scale3d(0.5, 0.5, 0.5);
	animation: move 3s ease-out infinite;
}

.chevron:first-child {
	animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
	animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
	content: " ";
	position: absolute;
	top: 0;
	height: 100%;
	width: 50%;
	background: var(--foreground);
}

.chevron:before {
	left: 0;
	transform: skew(0deg, 30deg);
}

.chevron:after {
	right: 0;
	width: 50%;
	transform: skew(0deg, -30deg);
}

@keyframes move {
	25% {
		opacity: 1;
	}
	33% {
		opacity: 1;
		transform: translateY(30px);
	}
	67% {
		opacity: 1;
		transform: translateY(40px);
	}
	100% {
		opacity: 0;
		transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
	}
}

@keyframes pan {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.25);
	}
	100% {
		transform: scale(1);
	}
}
.animate-pan {
	animation: pan 20s infinite linear;
}
